@import '/sass/variables.scss';
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
$html-font-size: 16px;
@function stripUnit($value) {
    @return $value / ($value * 0 + 1);
}

@function toRem($px-value) {
    @return #{stripUnit($px-value) / stripUnit($html-font-size)}rem;
}


/**********************************/


/*********** Nav Bar CSS **********/


/**********************************/

section {
    min-height: toRem(300px)
}

.navbar {
    position: relative;
    transition: .5s;
    z-index: map-get($z-index, nav);
    a {
        text-decoration: unset;
    }
    &__navbar {
        &-collapse {
            display: flex;
            -ms-flex-preferred-size: auto;
            flex-basis: auto;
        }
    }
    &__navbar-brand {
        color: $orangeColor;
        margin: 0;
        font-size: toRem(45px);
        line-height: toRem(0px);
        font-weight: 700;
        letter-spacing: toRem(2px);
        transition: .5s;
        img {
            max-width: 100%;
            max-height: toRem(40px);
        }
    }
    &__dropdown-menu {
        margin-top: 0;
        border: 0;
        border-radius: 0;
        background: $lightgrayishBlue;
    }
    @include media-breakpoint-up(lg) {
        position: absolute;
        width: 100%;
        padding: toRem(30px) toRem(60px);
        background: transparent;
        border-bottom: toRem(1px) dashed rgba(256, 256, 256, .2);
        z-index: map-get($z-index, nav-lg);
        background-color: $whiteColor;
        &__navbar-nav {
            &--nav-link,
            &--nav-link:focus {
                padding: toRem(10px) toRem(10px) toRem(8px) toRem(10px);
                color: $orangeColor;
                font-size: toRem(15px);
                font-weight: 500;
            }
            &--nav-link:hover,
            &--nav-link.active {
                color: $veryDarkGray;
            }
        }
    }
    @include media-breakpoint-down(lg) {
        padding: toRem(15px);
        background: $whiteColor;
        &__navbar-nav {
            margin-top: toRem(15px);
            &--nav-link,
            &--nav-link:focus {
                padding: toRem(10px) toRem(10px) toRem(8px) toRem(10px);
                color: $orangeColor;
                font-size: toRem(15px);
                font-weight: 500;
            }
            &--nav-link:hover,
            &--nav-link.active {
                color: $veryDarkGray;
            }
        }
        &__nav-link {
            padding: toRem(5px);
        }
        &__dropdown-menu {
            box-shadow: none;
        }
    }
}


/*******************************/


/********* Footer CSS **********/


/*******************************/

.footer {
    position: relative;
    margin-top: toRem(45px);
    background: $orangeColor;
    &__container-fluid {
        padding: toRem(60px) 0 0 0;
    }
    &__footer-info {
        position: relative;
        width: 100%;
        text-align: center;
        h2 {
            margin-bottom: toRem(20px);
            font-size: toRem(30px);
            font-weight: 700;
            color: $whiteColor;
        }
        h3 {
            margin-bottom: toRem(25px);
            font-size: toRem(22px);
            font-weight: 600;
            color: $whiteColor;
        }
    }
    &__footer-menu {
        width: 100%;
        display: flex;
        justify-content: center;
        p {
            color: $whiteColor;
            font-size: toRem(22px);
            font-weight: 600;
            line-height: toRem(20px);
            padding: 0 toRem(15px);
            border-right: toRem(1px) solid $whiteColor;
        }
        &--last-child {
            border: none;
        }
    }
    &__footer-social {
        position: relative;
        margin-top: toRem(15px);
        a {
            display: inline-block;
            i {
                margin-right: toRem(15px);
                font-size: toRem(20px);
                color: $whiteColor;
                transition: .3s;
            }
        }
        &--last-child {
            i {
                margin: 0;
            }
        }
        &--hover {
            i {
                color: $darkGray;
            }
        }
    }
    &__copyright {
        position: relative;
        text-align: center;
        margin-top: toRem(30px);
        padding-top: toRem(25px);
        padding-bottom: toRem(25px);
        p {
            margin: 0;
            color: $whiteColor;
        }
        .col-md-6:last-child {
            p {
                text-align: right;
            }
        }
        p {
            a {
                color: $whiteColor;
                font-weight: 600;
            }
            a:hover {
                color: $darkGray;
            }
        }
    }
    &__copyright::before {
        position: absolute;
        content: "";
        width: 50%;
        height: toRem(1px);
        top: 0;
        left: 25%;
        background: rgba(256, 256, 256, .2);
    }
}

@include media-breakpoint-down(sm) {
    .footer {
        &__footer-info {
            h2 {
                margin-bottom: toRem(20px);
                font-size: toRem(20px);
                font-weight: 600;
            }
            h3 {
                margin-bottom: toRem(20px);
                font-size: toRem(16px);
            }
        }
        &__footer-menu {
            p {
                font-size: toRem(16px);
                line-height: toRem(16px);
                padding: 0 toRem(5px);
            }
        }
    }
}