@import '../../../../../sass/function.scss';
@import '../../../../../sass/public.scss';
.footer {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold toRem(16px) sans-serif;
    padding: toRem(50px) toRem(50px) toRem(60px) toRem(50px);
    margin-top: toRem(80px);
    position: fixed;
    bottom: 0;
    margin-top: toRem(45px);
    background: $primary-color;
    &__container-fluid {
        padding: toRem(60px) 0 0 0;
    }
    &__footer-info {
        position: relative;
        width: 100%;
        text-align: center;
        h2 {
            margin-bottom: toRem(20px);
            font-size: toRem(30px);
            font-weight: 700;
            color: $secondary-color;
        }
        h3 {
            margin-bottom: toRem(25px);
            font-size: toRem(22px);
            font-weight: 600;
            color: $secondary-color;
        }
    }
    &__footer-menu {
        width: 100%;
        display: flex;
        justify-content: center;
        p {
            color: $secondary-color;
            font-size: toRem(22px);
            font-weight: 600;
            line-height: toRem(20px);
            padding: 0 toRem(15px);
            border-right: toRem(1px) solid $secondary-color;
        }
        &--last-child {
            border: none;
        }
    }
    &__footer-social {
        position: relative;
        margin-top: toRem(15px);
        a {
            display: inline-block;
            i {
                margin-right: toRem(15px);
                font-size: toRem(20px);
                color: $secondary-color;
                transition: .3s;
            }
        }
        &--last-child {
            i {
                margin: 0;
            }
        }
        &--hover {
            i {
                color: $veryDarkGray;
            }
        }
    }
    &__copyright {
        &:before {
            position: absolute;
            content: "";
            width: 50%;
            height: toRem(1px);
            top: 0;
            left: 25%;
            background: $secondary-color;
        }
        position: relative;
        text-align: center;
        margin-top: toRem(30px);
        padding-top: toRem(25px);
        padding-bottom: toRem(25px);
        p {
            margin: 0;
            color: $secondary-color;
        }
        .col-md-6:last-child {
            p {
                text-align: right;
            }
        }
        p {
            a {
                color: $secondary-color;
                font-weight: 600;
                &:hover {
                    color: $veryDarkGray;
                }
            }
        }
    }
    @include media-breakpoint-down(sm) {
        &__footer-info {
            h2 {
                margin-bottom: toRem(20px);
                font-size: toRem(20px);
                font-weight: 600;
            }
            h3 {
                margin-bottom: toRem(20px);
                font-size: toRem(16px);
            }
        }
        &__footer-menu {
            p {
                font-size: toRem(16px);
                line-height: toRem(16px);
                padding: 0 toRem(5px);
            }
        }
    }
}